.about {
  padding: 60px 0;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  &__tittle {
    padding: 20px 0;
  }

}

@media (max-width: 991.98px) {
  .about {
    padding: 40px 0;

    &__container {
      flex-direction: column;
    }

  }
}
