.contacts {
  padding: 60px 0;
  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-self: center;
    width: 100%;
    input {
      border: 1.40px solid $primary-black;
      border-radius: 4px;
      padding: 16px 24px;
      width: 100%;
      height: 56px;
    }
     textarea {
      border: 1.40px solid $primary-black;
      border-radius: 4px;
      padding: 16px 24px;
      width: 100%;
      height: 140px;
     }
  }
  &__buttons {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 20px;
  }
  &__tittle {
  }
  &__description {
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 28px;
   line-height: 114%;
   letter-spacing: -0.02em;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social__link {
  &:nth-child(1) {
    background-color: $primary-black;
  }
}
.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1452px) {

  .contacts__container {
    flex-direction: column;
  }
  .contacts__buttons {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 991.98px) {
  .contacts {
    padding: 40px 0;
  }
  .contacts__contacts {
    font-weight: 700;
    font-size: 20px;
  }
}