.experience {
  background-color: $primary-black;
  padding: 60px 0;

  &__tittle {
    color: $primary-white;
    text-align: center;
    padding: 20px 0;
  }

  &__content {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.position {
  border: 1px solid $zinc-500;
  border-radius: 10px;
  padding: 30px 24px;

  &:nth-child(2) {
    background-color: $zinc-800;
  }

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    padding-right: 25px;
  }

  &__tittle {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: $primary-white;
  }

  &__date {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: $zinc-300;  
  }

  &__description {
    padding-top: 35px;
    color: $zinc-300;
  }
}

@media (max-width: 991.98px) {
  .experience {
    padding: 40px 0;

    &__tittle {
      padding: 20px 0;
    }
  }

  .position {
    &__name {
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
  
    &__icon {
      padding-right: 15px;
    }
     
    &__tittle {
      font-size: 20px;
    }
  }

}