.projects {
  background-color: $primary-black;
  padding: 60px 0;
  
  &__tittle {
    padding: 20px 0;
    color: $primary-white;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.project {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  gap: 50px;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }

  &__image {
    flex: 0 1 50%;
    width: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  &__number {
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: $primary-white;
  }

  &__tittle {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: $primary-white;
  }

  &__description {
    color: $zinc-500;
  }
}

@media (max-width: 991.98px) {

  .projects {
    padding: 40px 0;
  }

  .project,
  .project:nth-child(2) {
    padding: 0;
    gap: 0px;
    flex-direction: column;
  }

  .project {
    &__image {
      width: 100%;
      min-height: 40vh;
      object-fit: cover;
    }
  
    &__number {
      font-size: 24px;
    }
  
    &__tittle {
      font-size: 20px;
    }
  }
}